<!DOCTYPE html>
<html>
<head>
    <title>Moderator Dashboard</title>
</head>
<body>
<h2>Moderator Dashboard</h2>
<h3>Total Moderated Posts: {{ total_posts }}</h3>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Label</th>
        <th>Confidence</th>
        <th>Severity</th>
        <th>Action</th>
        <th>Moderator Action</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td>{{ post[0] }}</td>
        <td>{{ post[1] }}</td>
        <td>
        {% if post[2] == "toxic" %}
        <span style="color:red;font-weight:bold;">Toxic</span>
        {% else %}
        <span style="color:green;font-weight:bold;">Safe</span>
        {% endif %}
        </td>
        <td>{{ post[3] }}</td>
        <td>{{ post[4] }}</td>
        <td>{{ post[5] }}</td>
        <td>
            <a href="/update/{{ post[0] }}/APPROVED">Approve</a> |
            <a href="/update/{{ post[0] }}/REMOVED">Remove</a>
        </td>
    </tr>
    {% endfor %}

</table>

<br><br>
<a href="/">Go Back</a>

</body>
</html>